
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');




  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  
 
  font-family: 'Roboto', sans-serif; 
}

.container {
 
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 'nav' 'section' 'main' 'footer';
}



section {
  grid-area: section;
  background-color: rgb(160, 163, 163);
  padding: 10px;
  text-align: center;
}

.form-select{

  padding: 10px;
  width: 100%;
 text-align: center;
}


nav {
  grid-area: nav;
}

.nav {
  background-color: #007bff;
  color: white;
  padding: 10px;
  
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}


main {
  
  grid-area: main;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-height: 850px;
  overflow-y: auto; 
  background: rgb(243, 241, 241);
}


.cards {
  
  margin-bottom: 15px; 
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  
}



.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px; 
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
}

footer {
  grid-area: footer;
  background: rgb(58, 58, 156);
  color: white;
  padding: 30px;
  text-align: center;
}

@media (min-width: 576px) {
  .container {
    grid-template-columns: 1fr 8fr;
    grid-template-areas: 
    'nav section' 'nav main' 'footer main';
  }
}

@media (max-width: 768px) {
    main .card:not(:first-of-type) {
      display: none;
    }
  }


  a.button {
    display: inline-block;
    padding: 8px 12px;
    margin-top: 10px;
    background-color: #007bff; 
    color: white; 
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #007bff; 
    transition: background-color 0.3s, color 0.3s; 
  }

   li{
    display: flex;
    align-items: flex-start;
    line-height: 1.0;
    padding: 15px;
    list-style: none;
   
}